<div class="row">
  <div class="col-md-4 col-lg-4">
    <h2>Wereld</h2>
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Score</td>
        </tr>
      </thead>
    </table>
  </div>
  <div class="col-md-4 col-lg-4">
    <h2>NHL</h2>
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Score</td>
        </tr>
      </thead>
    </table>
  </div>
  <div class="col-md-4 col-lg-4">
    <h2>Vrienden</h2>
    <table>
      <thead>
        <tr>
          <td>Name</td>
          <td>Score</td>
        </tr>
      </thead>
      <tr>
        <td>Marthyn</td>
        <td>100</td>
      </tr>
    </table>
  </div>
</div>
