<div class="row">
  <div class="three-column-equal-main">
    <div class="white_block">
      <%= render 'top', scores: @top_scores %>
    </div>
  </div>
  <div class="three-column-equal-main">
    <div class="white_block">
      <%= render 'user_group', scores: @user_group_scores %>
    </div>
  </div>
  <div class="three-column-equal-main">
    <div class="white_block">
      <%= render 'friends', scores: @friend_scores %>
    </div>
  </div>
</div>
