<div class="thumbnail-challenge">
  <p><%= session[:damage] && session[:damage] > 0 ? image_tag("health/#{session[:damage]}.png", class: "image") : image_tag("health/0.png", class: "image") %></p>
</div>
