
<h4>Scores</h4>
<table class="table table-striped">
  <tr>
    <td><%= t("total") %></td>
    <td id="total_points"><%= current_user.guest? ? session[:streak] : RedisLeaderboard.get.score_for(current_user.id).to_i %></td>
  </tr>
  <tr>
    <td><%= t("streak") %></td>
    <td id="streak_points"><%= session[:streak] %></td>
  </tr>
</table>

