<div class="three-column-small">
  <h1>Scores</h1>
  <table class="table table-striped">
    <tr>
      <td>Total</td>
      <td id="total_points"><%= current_user.get_points %></td>
    </tr>
    <tr>
      <td>Session</td>
      <td id="session_points"><%= current_user.get_points %></td>
    </tr>
    <tr>
      <td>Streak</td>
      <td id="streak_points"><%= session[:streak] %></td>
    </tr>
  </table>
</div>
