
<h1>Scores</h1>
<table class="table table-striped">
  <tr>
    <td><%= t("total") %></td>
    <td id="total_points"><%= RedisLeaderboard.get.score_for(current_user.id).to_i %></td>
  </tr>
  <tr>
    <td><%= t("streak") %></td>
    <td id="streak_points"><%= session[:streak] %></td>
  </tr>
</table>

