<h4><%= t("practice.problem_picker") %></h4>
<form action="/practice" id="problem_picker" method="get">
<%=
select("",
       "problem",
       Problem::VALID_PROBLEMS.collect {|problem| [ t("challenges.#{problem}"), problem ] },
       {include_blank: t("practice.clear_filter"), selected: params[:problem]},
       {class: "form-control"})
%>
</form>
