<div class="problem_block">
  <div class="row">
    <div class="one-column-center">
    </div>
  </div>
  <div class="row">
    <div class="two-column-fill theory">
      <p id="theory"><%= problem.theory %>?</p>
    </div>
    <div class="two-column-fill input">
      <%= render 'problems/form', problem: @problem %>
    </div>
  </div>
</div>
<div class="row submit_block">
  <div class="row">
    <div class="two-column-fill "></div>
    <div class="two-column-fill">
      <%= render 'problems/submit' %>
    </div>
  </div>
  <div class="inside-row">
    <%= render 'sessions/progressbar', user_challenge: @user_challenge, progress: @progress if @user_challenge %>
  </div>
</div>

