<div class="form-group submit_form">
  <div>
    <button id="submit_answer" class="btn btn-submit btn-embossed btn-practice">
      <%= t("practice.submit_button") %>
    </button>
    <%= help_button(params[:controller]) %>
    <br>
    <a href="#" id="skipQuestion">(<%= t("practice.skipquestion") %>)</a>
  </div>
</div>
