<div class="row">
  <div class="three-column-small">
    <%= render 'sessions/scores' %>
  </div>
  <div class="three-column-big answers">
    <h1><%= t("practice.header") %></h1>
    <%= render 'problem', problem: @problem %>
    <%= render 'calculator/calculator' %>
  </div>
  <div class="three-column-small">

  </div>
</div>
