<div class="thumbnail">
  <a href="#" class="thumb-link">
    <div class="image" style="backround-image:url(<%= badge.image %>)"></div>
    <div class="caption">
      <div class="inner">
        <h2><%= t("badges.#{badge.name}.name") %></h2>
        <div class="more">
          <p class="description"><%= t("badges.#{badge.name}.description") %></p>
        </div>
      </div>
    </div>
  </a>
</div>
