<div class="thumbnail thumbnail-challenge">
  <a href="#" class="thumb-link">
    <img class="image" src="<%=asset_path(badge.image) %>">
    <div class="caption">
      <div class="inner">
        <h2><%= t("badges.#{badge.name}.name") %></h2>
        <div class="more">
          <p class="description"><%= t("badges.#{badge.description}") %></p>
        </div>
      </div>
    </div>
  </a>
</div>
