<div class="row">
  <div class="two-column-fill ">
    <h1>Challenges</h1>
  </div>
  <div class="two-column-fill" >
    <h1>Badges</h1>
  </div>
</div>

<div class="row">
  <div class="two-column-fill ">
    <div id="challenges_block" class="grey_block">
      <% @challenges.each do |challenge| %>
        <div class="col-sm-6 col-md-3 col-lg-2 thumbnail-col">
          <div class="thumbnail">
            <a class="thumb-link">
              <div class="image" style="background-image:url(<%= challenge.icon %>)"></div>
              <div class="caption">
                <div class="inner">
                  <h2><%= challenge.name %></h2>
                </div>
              </div>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="two-column-fill" >
    <div class="grey_block"><p>Blaa</p></div>
  </div>
</div>


