<div class="col-lg-3">
  <%= image_tag(notification.image) %>
</div>
<div class="col-lg-9">
  <div class="content">
    <p><%= t(notification.title, name: link_to(message.user.name, user_statistics_path(notification.user))).html_safe %></p>
    <p><%= t(notification.text) %></p>
  </div>
</div>
