<div class="col-lg-3">
  <%= image_tag(notification.image) %>
</div>
<div class="col-lg-9">
  <div class="content">
    <p><%= notification.title %></p>
    <p><%= notification.text %></p>
  </div>
</div>
