<h4>Head to head challenge</h4>
<p>A head to head challenge works about the same as a normal challenge, the only thing is you can't die. It 'll still track your mistakes though. You are playing against someone. The person with the least amount of mistakes will win. If it's a tie we'll look at the fastest one</p>
