<div style="text-align:center">
  <h3>Challenge Scores</h3>
  <h4>
    <%= @head_to_head_challenge.challenger.name %>
  </h4>
  <h2>
    <%= @head_to_head_challenge.challenger_score %>
  </h2>
  <h2>versus</h2>
  <h4>
    <%= @head_to_head_challenge.challenged.name %>
  </h4>
  <h2>
    <%= @head_to_head_challenge.challenged_score %>
  </h2>
</div>
