<div class="row">
  <div class="one-column-fill">
    <h2>Users</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Name</td>
          <td>Username</td>
          <td>Actions</td>
        </tr>
      </thead>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
