<div class="info-text two-column-fill">
  <p><%= personalized_text(current_user) %></p>
</div>
<div class="two-column-fill">
  <div class="thumbnail">
    <%= image_tag("logo1.png") %>
  </div>
</div>
