<div class="row">
  <div class="col-md-2 col-lg-2"></div>
  <div class="col-md-8 col-lg-8">
    <div class="info-text">
    <h1><%= Faker::HipsterIpsum.word %></h1>
    <%= Faker::HipsterIpsum.paragraph %>
    </div>
  </div>
  <div class="col-md-2 col-lg-2"></div>
</div>
