<div class="row">
  <div class="col-md-2 col-lg-2"></div>
  <div class="col-md-8 col-lg-8">
    <div class="info-text">
    <h1>Goodmorning<%= current_user ? " #{current_user.name}!" : "!" %></h1><h4>Ready to help some patients?</h4>
    <%= render "calculator/calculator" %>
    </div>
  </div>
  <div class="col-md-2 col-lg-2"></div>
</div>
