<div class="row">
  <div class="three-column-small"></div>
  <div class="three-column-big">
    <div class="info-text">
    <h1><%= personalized_welcome(current_user)%></h1>
    <h4>Ready to help some patients?</h4>
    <%= render "calculator/calculator" %>
    </div>
  </div>
  <div class="three-column-small"></div>
</div>
