<div class="row">
  <div class="three-column-small"></div>
  <div class="three-column-big block">
    <h1><%= t("challenge.title") %></h1>
    <% @challengesets.each do |challenge_set| %>
      <div id="challenges_block">
        <h4><%= challenge_set.name %></h4>
        <% challenge_set.challenges.each do |challenge| %>
          <div class="col-sm-6 col-md-3 col-lg-2 thumbnail-col">
            <%= render 'thumbnail', challenge: challenge, user: current_user %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
