@import "twitter-bootstrap-static/bootstrap";
@import "flat-ui.scss";
@import "calculator.scss";

// POPOVER
.popover-title {
  background-color: #2980b9;
  border: 0px;
}
.popover {

  box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}
.popover-content {
  border:0px solid black;
}


// ERROR PAGES
.error_page {
  background-color: #edeff1;
  color: #2E2F30;
  text-align: center;
  font-family: arial, sans-serif;
}

.error_page h1 {
  font-size: 60px;
  color: #bdc3c7;
  line-height: 1.5em;
}

.error_page h2 {
  font-size: 30px;
  color: #bdc3c7;
  line-height: 1.5em;
}

.error_page button {
  margin-left:5px;
  background-color: #3498db;
}


// BUTTONS
.btn-landing {
  width: 300px;
  height:80px;
  color: #ecf0f1;
  background-color: #2980b9;
  font-size:25px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}

.btn-secondary {
  width: 300px;
  height:80px;
  color: #ecf0f1;
  background-color: rgb(55, 150, 70);
  font-size:25px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}

#call_to_action_buttons {
  text-align:center;
}

// MENU
.big-links {
  margin-left:12%;
}

.profile-pic {
  margin-right:15px;
}

// POPOVER
.popover-title {
  background-color: #2980b9;
  border: 0px;
}
.row {
  margin: 0px;
}

.popover {
  box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}

.popover-content {
  border:0px solid black;
}
// ACTIVITIES
#activities .activity a {
  color: #3498db;
}

#activities .activity {
  border-bottom: 2px solid #2980b9;
  margin:5px 0px 5px 0px;
  background: #ecf0f1;
  padding: 3px;
  font-size: 10pt;
}

#activities {
  margin: 5px;
}


// ERROR PAGES
.error_page {
  background-color: #edeff1;
  color: #2E2F30;
  text-align: center;
  font-family: arial, sans-serif;
}


.error_page h1 {
  font-size: 60px;
  color: #bdc3c7;
  line-height: 1.5em;
}

.error_page h2 {
  font-size: 30px;
  color: #bdc3c7;
  line-height: 1.5em;
}

.error_page button {
  margin-left:5px;
  background-color: #3498db;
}


// MAIN
.main {
  background-image: url('/assets/bg/bg1.jpg');
  background-repeat: no-repeat;
  background-size:100%;
  min-height: 1000px;
 }

.grey_block {
  background-color: #ecf0f1;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  border: 2px solid #d6dbdf;
  padding:20px 20px 20px 20px;
  min-height: 600px;
 }

.problem_block {
  background-color: #ecf0f1;
  border: 2px solid #d6dbdf;
  padding:20px 20px 20px 20px;
  margin-top: 20px;
  margin-bottom: 0px;
 }

 .theory {
  border-right: 1px solid gray;
 }

 .input {}

 .submit_block {
  background-color: #bdc3c7;
  padding: 20px;
  border-bottom: 1px solid #1abc9c;
  border-bottom-width: 2px;
  border-radius: 0px 0px 5px 5px;
 }

.submit_form {
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: 0px;
  display: block;

}
.score_block {
  background-color: #ecf0f1;
  border: 2px solid #d6dbdf;
  padding:00px 20px 20px 20px;
  margin-top: 20px;
 }

.notice_block {
  background-color: #f1c40f;
  border: 2px solid #d6dbdf;
  border-top-width: 0px;
  padding:00px 20px 20px 20px;
  margin-top: 0px;
}

.navbar .nav li .big-link {
  font-size:22px;
  color:#2980b9;
}

.navbar .nav li .big-link:hover {
  font-size:22px;
  color:#419edd;
}

.navbar {
  margin-bottom:0px;
  border-radius:0px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

.dialog {
  border-bottom: 2px solid #d6dbdf;
}

// PRACTICE VIEW
.highlight {
  background-color: yellow;
}

.help {
  display: none;
  font-size: 12px;
}

.answers {
  padding:0px 20px 0px 20px;
}

.dropdown-toggle:hover {
  cursor: pointer;
  background-color:#2ecc71;
  border-color:#2ecc71;
}

#selectedUnit {
  background-color:#2ecc71;
  border-color:#2ecc71;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.btn-practice  {
  width: 32%;
}

.answer_field {
  font-size: 20px;
}

.time p {
  font-size:40px;
  text-align:center;
}

.health p {
  font-size:40px;
  text-align:center;
  padding: 20px;
}

#answer_value{
  font-size:40px;
  border-color: #2ecc71;
}

// THUMBNAILS
.thumbnail-col {
  padding: 8px;
}
.thumbnail {
  position: relative;
  display: block;
  border: 1px solid #dddddd;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #16a085;
}
.thumbnail > a {
  position: relative;
  display: block;
  margin: 0px;
}

.thumbnail .image {
  position: relative;
  /*padding-top: 56.25%; /* 16:9 = 9px/16px = 0.5625 */
  padding-top: 70%;
  background-position: center;
  opacity: .8;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  -webkit-transition: opacity .3s;
     -moz-transition: opacity .3s;
          transition: opacity .3s;
}
.thumbnail > a:hover .image {
  opacity: 1;
}

.thumbnail .caption {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  color: white;
}
.thumbnail .caption .inner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #eee;
  -webkit-transition: color .3s, bottom .3s;
     -moz-transition: color .3s, bottom .3s;
          transition: color .3s, bottom .3s;
}

.thumbnail > a:hover .caption .inner {
  color: #fff;
}
.thumbnail h2 {
  margin: 0;
  padding: 5px;
  font: 100 20px/23px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: rgba(0,0,0,.5);
  /*
  letter-spacing: -1px;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  */
}

.thumbnail .more,
.thumbnail .more .description {
  font: 100 13px/15px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.thumbnail .more {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0 5px 5px;
  background: rgba(0,0,0,.5);
}
.thumbnail .more .description {
  margin: 0;
}


//BOOTSTRAP COLUMN OVERRIDES
.three-column-small {
  @extend .col-md-2;
  @extend .col-lg-2;
  @extend .col-sm-12;
  @extend .col-xs-12;
}

.three-column-big {
  @extend .col-md-8;
  @extend .col-lg-8;
  @extend .col-sm-12;
  @extend .col-xs-12;
}

.three-column-equal-side {
  @extend .col-lg-4;
  @extend .col-md-4;
  @extend .col-sm-2;
  @extend .col-xs-2;
}

.three-column-equal-main {
  @extend .col-lg-4;
  @extend .col-md-4;
  @extend .col-sm-12;
  @extend .col-xs-12
}

.two-column-fill {
  @extend .col-md-6;
  @extend .col-lg-6;
  @extend .col-sm-12;
  @extend .col-xs-12;
}


.one-column-center {
  @extend .col-md-10;
  @extend .col-lg-10;
  @extend .col-lg-12;
  @extend .col-lg-12;
}

.one-column-side {
  @extend .col-md-1;
  @extend .col-lg-1;
}
