.blocking-layer {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
  height: 1000px;
  display:block;
}

.blocking-message {
  position: absolute;
  top: 5%;
  left: 25%;
  width: 50%;
  padding: 2px 16px 2px 16px;

  background-color: white;
  z-index:1002;
  opacity: 1;
  overflow: auto;
  box-shadow: 10px 10px 20px black;
  border-bottom: 1px solid #1abc9c;
  border-bottom-width: 2px;
  border-radius: 0px 0px 5px 5px;
}

.head-to-head-overview {
  text-align: center;

  background: -moz-linear-gradient(-45deg,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
  background: linear-gradient(135deg,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 );

  .three-column-big {
    margin-top:30px;
  }

  h1, h2, h3 {
    margin-top: 20px;
    vertical-align:center;
    display:inline;
  }
}
