.blocking-layer {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
  height: 1000px;
  display:block;
}

.blocking-message {
  position: absolute;
  top: 5%;
  left: 25%;
  width: 50%;
  padding: 2px 16px 2px 16px;

  background-color: white;
  z-index:1002;
  opacity: 1;
  overflow: auto;
  box-shadow: 10px 10px 20px black;
  border-bottom: 1px solid #1abc9c;
  border-bottom-width: 2px;
  border-radius: 0px 0px 5px 5px;
}
