#gamercard {
  width: 400px;
  height: 150px;
  padding:10px;
  margin-left:auto;
  margin-right:auto;
  border-bottom: 1px solid #1abc9c;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-width: 2px;
  box-shadow: 10px 10px 25px black;

  cursor: pointer;

  font-family: 'Varela Round', sans-serif;

  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
  background: linear-gradient(135deg,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.badges_row {
  width:100px;
  border: 1px solid black;
  background-color: black;
}

.badges_row img {
  width:30.5%;
}

.left_card {
  width:30%;
  float:left;
}

.left_card .img {
  height:100px;
  width:100px;
  border-top:1px solid black;
  border-left:1px solid black;
  border-right:1px solid black;
  box-shadow: 5px;
}

.right_card {
  width:70%;
  float:right;
  margin-top:-14px;
}

.right_card .name {
  font-size:22px;
  width:200px;
  margin-top:25px;
  margin-left:10px;
  float:left;
}

.right_card .name .level_name {
  font-size:17px;
  font-style: italic;
}
.right_card .level {
  font-size:40px;
  width:60px;
  height:40px;
  float:right;

  padding-bottom:55px;
  padding-top:0px;
  text-align:center;

  margin-top:30px;
  margin-bottom:5px;

  border: 5px solid #1abc9c;
  border-radius: 50px;
}

.right_card .top {
  text-align:left;
  width:276px;
  margin-left:-15px;
  border-bottom:2px solid black;
  margin-top:-10px;
}
