// MAIN
body {
  background-image: url('/assets/bg/bg1.jpg');
  background-repeat: repeat-y;
  background-size:100%;
}

@media (max-width: 1450px) {
  .no-mobile {
    display:none;
  }
  #theory {
    font-size:16px;
  }
}

#main {
  margin-top:50px;
}

.info-text {
  text-align:left;
}

.center {
  text-align: center;
}

#change_password_block {
  display: none;
}

#add_user_group_block {
  display: none;
  position: absolute;
  top: 5%;
  left: 30%;
  width: 500px;
  height: 120px;
  padding: 16px;
  border: 3px solid #2980b9;
  background-color: white;
  z-index:1002;
  opacity: 1;
  overflow: auto;
  box-shadow: 10px 10px 20px black;
}

a:visited{
     color: inherit;
}
.row {
  margin: 0px;
}

.inside-row {
  margin-top:25px;
}

.problem_block {
  background-color: #ecf0f1;
  border: 2px solid #d6dbdf;
  padding:20px 20px 20px 20px;
  margin-top: 20px;
  margin-bottom: 0px;
 }

 #theory {
    font-size: 24px;
 }

 .input {
  border-left: 1px solid gray;
 }

 .submit_block {
  background-color: #bdc3c7;
  padding: 20px;
  border-bottom: 1px solid #1abc9c;
  border-bottom-width: 2px;
  border-radius: 0px 0px 5px 5px;
 }

.submit_form {
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: 0px;
  display: block;

}

.block {
  background-color: #ecf0f1;
  border: 2px solid #d6dbdf;
  padding:20px 20px 20px 20px;
  margin-top: 20px;
}

.notice_block {
  background-color: #f1c40f;
  border: 2px solid #d6dbdf;
  border-top-width: 0px;
  padding:00px 20px 20px 20px;
  margin-top: 0px;
}

.navbar .nav li .big-links li {
  font-size:22px;
  color:#2980b9;
}

.navbar .nav li .big-links:hover li{
  font-size:22px;
  color:#419edd;
}

.navbar {
  margin-bottom:0px;
  border-radius:0px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

.navbar-collapse {
  background-color: #F5F5F5;
}
@media (max-width: 768px) {
  .navbar-toggle {
    -webkit-appearance: none;
    -webkit-writing-mode: horizontal-tb;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(221, 221, 221);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: block;
    float: right;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 34px;
    letter-spacing: normal;
    line-height: 20px;
    margin-bottom: 8px;
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 8px;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 9px;
    position: relative;
    width: 44px;
  }

  .dropdown-menu {
    display:block;
    postition:relative !important;
  }
}
.dialog {
  border-top: 3px solid #d6dbdf;
  width:100%;
  background-color: #edeff1;
  position: fixed;
  z-index: 1005;
  bottom: 0px;
  left: 0;
}

@media (max-width: 768px) {
  .dialog {
    height: 150px;
  }
}

.container {
  text-align:center;
  color: #34495E;
  box-sizing:border-box;
  font-size:24px;
  padding-top:10px;
  height:41px;
  margin-left:auto;
  margin-right:auto;
}

// PRACTICE VIEW
.highlight {
  background-color: yellow;
}

.help {
  display: none;
  font-size: 12px;
}

.answers {
  padding:0px 20px 0px 20px;
}

.dropdown-toggle:hover {
  cursor: pointer;
  background-color:#2ecc71;
  border-color:#2ecc71;
}

#selectedUnit {
  background-color:#2ecc71;
  border-color:#2ecc71;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.btn-practice  {
  width: 32%;
}

.answer_field {
  font-size: 20px;
}

.time p {
  font-size:40px;
  text-align:center;
}

.health p {
  font-size:40px;
  text-align:center;
  padding: 20px;
}

#answer_value{
  font-size:40px;
  border-color: #2ecc71;
}

// CHALLENGE VIEW
.challenge_title {
  margin-top:6px;
  border-left: 1px solid black;
  border-radius: 0px !important; // overriding flat-ui..
  padding-left: 10px;
}

.input-group-addon {
  padding: 10px 12px;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  background-color: #bdc3c7;
  border: 1px solid #bdc3c7;
  border-radius: 6px;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}
