#notification {
  position: absolute;
  bottom: 10%;
  right: 26%;
  width: 600px;
  padding: 0px 20px 10px 20px;
  background-color: #ecf0f1;
  border: 2px solid #27ae60;
  z-index:1050;
  opacity: 1;
  overflow: auto;
  box-shadow: 10px 10px 20px black;
}

#notification .image {

}
#notification img {
  margin-top: 17px;
  width: 80px;
}
#notification a {
  color:  #27ae60;
}
@media (max-width: 768px) {
  #notification {
    display:none;
  }
}
